* {
  box-sizing: border-box;
}

body {
  font-family: "DM Sans";
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}

.container {
  width: 1220px;
  margin: 0 auto;
}

.header__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 55px 0 180px 0;
}
.header__top-list {
  display: flex;
}
.header__top-item {
  margin-right: 40px;
  font-family: "DM Sans";
  font-size: 18px;
  line-height: 23px;
  color: #1F1534;
  opacity: 0.5;
}
.header__top-item:last-child {
  margin-right: 0;
}
.header__top-item:hover {
  color: #1F1534;
  font-weight: bold;
  opacity: 1;
}

.header__bottom {
  display: flex;
}
.header__bottom-title {
  margin-bottom: 25px;
  font-weight: bold;
  font-size: 48px;
  line-height: 56px;
  color: #000000;
}
.header__bottom-text {
  margin-bottom: 45px;
  font-size: 21px;
  line-height: 32px;
  color: #7D7987;
}
.header__bottom-btn {
  outline: none;
  border: none;
  background: #458FF6;
  border-radius: 55px;
  width: 200px;
  height: 56px;
  font-weight: bold;
  font-size: 18px;
  color: #FFFFFF;
}
.header__bottom-img {
  margin-left: 40px;
}

.text__block {
  text-align: center;
}
.text__block-services {
  font-weight: bold;
  font-size: 36px;
  color: #000000;
  margin-bottom: 0px;
}
.text__block-desc {
  font-size: 18px;
  color: #7D7987;
}

.btn, .block__healthcare-btn, .block__services--btn {
  width: 200px;
  height: 55px;
  box-sizing: border-box;
  border: 1.8px solid #458FF6;
  border-radius: 55px;
  display: block;
  background: #FFFFFF;
  font-family: "DM Sans";
  font-weight: bold;
  color: #458ff6;
}

.block__services {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 0 auto;
}
.block__services-item {
  width: 350px;
  height: 355px;
  background: #FFFFFF;
  box-shadow: 10px 40px 50px rgba(229, 233, 246, 0.4);
  border-radius: 20px;
  padding: 40px;
  margin-top: 30px;
}
.block__services-text {
  font-weight: bold;
  font-size: 24px;
  color: #000000;
}
.block__services-desc {
  font-size: 16px;
  color: #7D7987;
}
.block__services--btn {
  margin: 30px auto;
}

.block__healthcare, .block__healthcare-download {
  display: flex;
  justify-content: space-between;
  margin-top: 100px;
}
.block__healthcare-text {
  font-weight: bold;
  font-size: 36px;
  color: #000000;
  margin-bottom: 0px;
}
.block__healthcare-desc {
  font-size: 18px;
  color: #7D7987;
}
.block__healthcare-btn {
  margin: 0px;
}

.block__healthcare-download {
  flex-direction: row-reverse;
  margin-top: 100px;
}

.block__customer {
  background-image: url("img/Background.svg");
  display: grid;
  grid-template-columns: 50% 50%;
  padding: 10px 170px;
  height: 440px;
  margin-top: 100px;
}
.block__customer-header {
  grid-column: span 2;
  text-align: center;
  padding-top: 30px;
}
.block__customer-text {
  font-weight: bold;
  font-size: 36px;
  color: #FFFFFF;
  margin-bottom: 0px;
}
.block__customer-name {
  font-weight: bold;
  font-size: 22px;
  color: #FFFFFF;
  margin-bottom: 0px;
}
.block__customer-client {
  display: flex;
  align-content: flex-start;
}
.block__customer-photo {
  width: 123px;
  height: 123px;
}
.block__customer-description {
  display: flex;
  justify-content: flex-end;
  font-size: 19px;
  color: rgba(255, 255, 255, 0.9);
}
.block__customer-role {
  font-size: 19px;
  color: rgba(255, 255, 255, 0.9);
  margin-top: 10px;
}
.block__customer-founder {
  padding-left: 20px;
}

.block__arrow {
  text-align: center;
  margin: 40px;
}
.block__arrow-item, .block__arrow-dot, .block__arrow-right, .block__arrow-left {
  display: inline-block;
  height: 10px;
}
.block__arrow-left {
  width: 32px;
  height: 20px;
  margin-right: 50px;
  background-image: url("img/Left.svg");
}
.block__arrow-right {
  width: 32px;
  height: 20px;
  margin-left: 50px;
  background-image: url("img/Right.svg");
}
.block__arrow-dot {
  width: 10px;
  margin: 4px;
  border-radius: 100%;
  background-color: #5B9BF3;
  opacity: 30%;
}
.block__arrow-dot.active {
  background-color: #5B9BF3;
  opacity: unset;
}

.block__check {
  text-align: center;
  font-weight: bold;
  font-size: 36px;
  color: #000000;
}
.block__check-latest {
  margin-top: 100px;
  margin-bottom: 10px;
}
.block__check-icon {
  display: block;
  margin: 0 auto;
}

.block__check__out {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 0 auto;
}
.block__check__out-detection {
  width: 350px;
  height: 512px;
  background: #FFFFFF;
  box-shadow: 10px 40px 50px rgba(229, 233, 246, 0.4);
  border-radius: 20px;
  margin-top: 30px;
}
.block__check__out-text {
  font-weight: bold;
  font-size: 21px;
  color: #000000;
}
.block__check__out-desc {
  font-size: 18px;
  color: #7D7987;
}
.block__check__out-Mask {
  display: flex;
  justify-content: flex-start;
  width: 350px;
  height: 240px;
}
.block__check__out-excerpt {
  padding-left: 30px;
}
.block__check__out-arrow {
  background-image: url("img/Right.svg");
  display: inline-block;
  width: 30px;
  height: 20px;
  margin-left: 10px;
}
.block__check__out-read {
  font-weight: bold;
  font-size: 17px;
  color: #4089ED;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

/*# sourceMappingURL=style.css.map */
